body, html {
	margin: 0;
	padding: 0;
	background: #c8eea7;
}

input,select {
	padding: 5px;
	font-size: 16px;
}

.config {
	margin: 10px auto;
	width: 100%;
	max-width: 1100px;
	min-height: 38px;
}

.config__filters{
	float: left;
	width: 24%;
}

.config__send, .config__filter {
	float: left;
}

.config__send {
	margin-right: 1%;
}

select {
	width: 20%;
	margin-right: 1%;
	float: left;
}

.button__info {
	float: right;
	margin-left: 5px;
	font-size: 0.6em !important;
}

.button__translate {
	margin-right: 10px !important;
}

.config__preview {
	width: 24%;
	float: left;
	font-size: 16px;
	font-style: italic;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-top: 5px;
	font-weight: bold;
}

.footable {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.footable .after-pron {
	color: #1491E4;
}

.footable .after-verb {
	color: red;
}

.footable .person, .footable .complement {
	color: gray;
}

.past .after-pron-1 {
	text-transform: capitalize;
}

.past .after-pron-2, .past .person-2 {
	text-transform: lowercase;
}

footer {
	width: 100%;
	height: 30px;
	background: black;
	position: absolute;
	bottom: 0;
	padding: 5px 0;
	text-align: center;
}

footer a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: white !important;
	text-decoration: none;
}
/* medias */
@media screen and (max-width: 1050px) {
	.config__filters{
		width: 29%;
	}

	.config__preview {
		width: 19%;
	}

}

@media screen and (max-height: 780px) {
	footer {
		position: inherit;
		margin-top: 10px;
		font-size: 0.8em;
	}
}

@media screen and (max-width: 870px) {
	.config__filters{
		width: 100%;
	}
	.config__person, .config__verb, .config__preview {
		width: 30%;
	}
}

@media screen and (max-width: 870px) {
	.config__filters{
		margin: 5px;
	}
	.config__person, .config__verb{
		width: 45%;
		margin: 5px;
	}

	.config__preview{
		width: 90%;
		margin: 10px;
	}
}

@media screen and (min-width: 490px) {
	.footable tr td:first-child {
		font-weight: bold;
	}
}